name: Release on Tag

on:
  push:
    tags:
      - '*' # Listen for any tag push events

jobs:
  build-and-release:
    runs-on: macos-latest

    # permissions: # Add this permissions block
    #   contents: write
    #   packages: write
    #   issues: write
    #   pull-requests: write

    permissions: write-all

    steps:
    # Check out the code
    - name: Checkout code
      uses: actions/checkout@v3

    # Set up Node.js and Yarn environment
    - name: Setup Node.js and Yarn
      uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache: 'yarn'

    # Install dependencies
    - name: Install dependencies
      run: |
        yarn install

    # # Build all packages (macOS, Linux, and Windows)
    - name: Build macos packages
      run: |
        yarn build:mac

    - name: Build Windows App
      # if: matrix.os == 'windows-latest'
      run: |
        yarn build:win

    - name: Build Linux App
      # if: matrix.os == 'ubuntu-latest'
      run: |
        yarn build:linux

    # - name: Create Release v1
    #   id: create_release
    #   uses: actions/create-release@latest
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
    #   with:
    #     tag_name: ${{ github.ref }}
    #     release_name: Release ${{ github.ref }}
    #     body: |
    #       Change Log
    #       - TODO
    #     draft: false
    #     prerelease: false

    - name: Generate Checksums
      run: |
        brew install coreutils
        #echo "# OWallet ${{ github.ref_name }}" > CHECKSUMS.md
        echo "" > CHECKSUMS.md
        echo "Current Tag: $(git describe --tags --abbrev=0)" >> CHECKSUMS.md
        echo "## SHA256 Checksums" >> CHECKSUMS.md
        echo "| File | SHA256 Checksum |" >> CHECKSUMS.md
        echo "|------|----------------|" >> CHECKSUMS.md
        # find dist_electron/ -type f -name OWallet\*.AppImage -o -name OWallet\*.dmg -o -name OWallet\*.exe -o -name OWallet\*.deb -exec sh -c '
        #   for file; do
        #     echo "| $(basename "$file") | \`$(sha256sum "$file" | cut -d " " -f1)\` |" >> CHECKSUMS.md
        #   done
        # ' sh {} +
        echo "| $(ls dist_electron/OWallet-*.deb | sed -e 's#dist_electron/##') | \`$(sha256sum dist_electron/OWallet-*.deb | cut -d " " -f1)\` |" >> CHECKSUMS.md
        echo "| $(ls dist_electron/OWallet-*.exe | sed -e 's#dist_electron/##') | \`$(sha256sum dist_electron/OWallet-*.exe | cut -d " " -f1)\` |" >> CHECKSUMS.md
        echo "| $(ls dist_electron/OWallet-*.AppImage | sed -e 's#dist_electron/##') | \`$(sha256sum dist_electron/OWallet-*.AppImage | cut -d " " -f1)\` |" >> CHECKSUMS.md
        echo "| $(ls dist_electron/OWallet-*.dmg | sed -e 's#dist_electron/##') | \`$(sha256sum dist_electron/OWallet-*.dmg | cut -d " " -f1)\` |" >> CHECKSUMS.md

    - name: Create Release v2
      uses: softprops/action-gh-release@v1
      with:
        name: Release ${{ github.ref_name }}
        body_path: CHECKSUMS.md
        files: |
          dist_electron/*.deb
          dist_electron/*.AppImage
          dist_electron/*.dmg
          dist_electron/*.exe

            
    # - name: Release with attachment
    #   uses: softprops/action-gh-release@v1
    #   if: startsWith(github.ref, 'refs/tags/')
    #   with:
    #     files: |
    #       dist_electron/*.deb
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}